rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /problems/{problemId} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /rooms/{roomId}/{document=**} {
      allow read, create, update: if request.auth != null;
      allow delete: if false;
    }

    match /users/{userId}/{document=**} {
      allow create;
      allow delete: if false;
      allow update: if request.auth.uid == userId
      allow read:
      		if request.auth.uid == userId;
    }
  }
}
